<%= form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook_group %>
    <%= f.text_field :facebook_group %>
  </div>

  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.select :semester_id, Semester.all.collect { |s| [ s.code, s.id ] } %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.select :course_id, Course.all.collect { |c| [ c.code, c.id ] } %>
  </div>
  <div class="field">
    <%= f.label :instructor_id %><br>
    <%= f.select :instructor_id, Instructor.all.collect { |i| [ i.full_name, i.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
