<% content_for :title do %>
<%= @issue.student.full_name %>: <%= @issue.title %>
<% end %>
<% content_for :subtitle do %>
With <%= @issue.instructor.full_name %>
<% end %>
<p id="notice"><%= notice %></p>


<p>
  <strong>Content:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong>Critical:</strong>
  <%= @issue.critical %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', student_path(@issue.student) %>
