<% content_for :title do %>
<%= @issue.student.full_name %>: <%= @issue.title %>
<% end %>
<% content_for :subtitle do %>
With <%= @issue.instructor.full_name %>
<% end %>

<p id="notice"><%= notice %></p>

<% if @issue.critical %>
<div class="row">
  <div class="columns">
    <p style="font-weight: bold; font-size:1.2rem; color: red;">This is a critical issue.</p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="columns">
    <%= markdown(@issue.content) %>
  </div>
</div>

<div class="row">
  <div class="large-8 large-offset-2 medium-8 medium-offset-2 columns">
    <%= link_to 'Edit', edit_issue_path(@issue), class: "tiny button radius" %>
    <%= link_to 'Back', student_path(@issue.student), class: "tiny button radius" %>
  </div>
</div>
