<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<ul>
  <%= render @computers %>
</ul>

<table>
  <thead>
    <tr>
      <th>ITS Code</th>
      <th>Model</th>
      <th>Operating System</th>
      <th>Date of Purchase</th>
      <th>Lab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= sprintf '%06d', computer.id %></td>
        <td><%= computer.model %></td>
        <td><%= computer.operating_system %></td>
        <td><%= computer.date_of_purchase %></td>
        <td><%= computer.lab.name %></td>
        <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer', new_computer_path %>
