<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @major.title %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @major.coordinator %>
</p>

<%= link_to 'Edit', edit_major_path(@major) %> |
<%= link_to 'Back', majors_path %>
