<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :week %><br>
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :rationale %><br>
    <%= f.text_area :rationale %>
  </div>
  <div class="field">
    <%= f.label :requisites %><br>
    <%= f.text_area :requisites %>
  </div>
  <div class="field">
    <%= f.label :directed_study %><br>
    <%= f.text_area :directed_study %>
  </div>
  <div class="field">
    <%= f.label :reading %><br>
    <%= f.text_area :reading %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
