<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @item.lesson %>
</p>

<p>
  <strong>Order:</strong>
  <%= @item.order %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @item.detail %>
</p>

<p>
  <strong>Resources:</strong>
  <%= @item.resources %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @item.duration %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
